#define VENDOR_NAME_STR      "@VENDOR_NAME@"
#define PRODUCT_NAME_STR     "@PRODUCT_NAME@"
#define VENDOR_PREFIX_STR    "@VENDOR_PREFIX@"
#define VENDOR_DEVICE_ID_STR "@VENDOR_DEVICE_ID@"

#define MAJOR_VERSION_STR    "@MAJOR_VERSION@"
#define MINOR_VERSION_STR    "@MINOR_VERSION@"
#define MICRO_VERSION_STR    "@MICRO_VERSION@"
#define BUILD_NUMBER_STR     "@BUILD_NUMBER@"

#define YEAR_STR             "@YEAR@"
#define MONTH_STR            "@MONTH@"
#define DAY_STR              "@DAY@"

#define MAJOR_VERSION        @MAJOR_VERSION@
#define MINOR_VERSION        @MINOR_VERSION@
#define MICRO_VERSION        @MICRO_VERSION@
#define BUILD_NUMBER         @BUILD_NUMBER@

#define YEAR                 @YEAR@
#define MONTH                @MONTH@
#define DAY                  @DAY@
