#
# Copyright (C) 2019 Assured Information Security, Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

build/
cache/
doc
doxygen_warnings.txt
.vagrant
.astyle_results.txt
.clang_tidy_results.txt
.vscode/
.DS_Store
._.DS_Store
tags
*.swp

*.cpio.gz
*vmlinux
*.o.*
*.o.cmd
*.ko.cmd
*.mod
*.mod.*
*.symvers
*.o
*.ko
*.order
*.cache.mk

deps/hypervisor/bfdriver/src/platform/linux/Makefile
deps/hypervisor/bfdriver/src/platform/windows/bareflank.vcxproj
*vmm/include/compiler.h

*.vs
*.VC.db

deploy/windows/Input
deploy/windows/Output
deploy/windows/output
deploy/windows/bareflank.efi
deploy/windows/drivers/
deploy/windows/extras
deploy/windows/images

*.suo
*.db
*.testlog
*.json
*.sqlite
*.manifest

drivers/builder/windows/x64
drivers/builder/windows/.build_number
drivers/builder/windows/builder/
drivers/builder/windows/vs2019/Windows10Release/
drivers/builder/windows/vs2019/builder.DVL.XML
drivers/builder/windows/vs2019/builder/Windows10Debug/
drivers/builder/windows/vs2019/builder/Windows10Release/
drivers/builder/windows/vs2019/builder/builder.DVL.XML
drivers/builder/windows/vs2019/builder/builder.inf
drivers/builder/windows/vs2019/builder/sdv/
drivers/builder/windows/vs2019/builder/smvbuild.log
drivers/builder/windows/vs2019/builder/smvexecute-InterceptedBuild.log
drivers/builder/windows/vs2019/builder/smvexecute-NormalBuild.log
drivers/builder/windows/vs2019/builder/smvstats.txt
drivers/builder/windows/vs2019/package/Windows10Debug/
drivers/builder/windows/vs2019/package/Windows10Release/

drivers/visr/windows/version.h
drivers/visr/windows/x64
drivers/visr/windows/.build_number
drivers/visr/windows/visr/
drivers/visr/windows/vs2019/Windows10Release/
drivers/visr/windows/vs2019/package/Windows10Debug/
drivers/visr/windows/vs2019/package/Windows10Release/
drivers/visr/windows/vs2019/version/.revision
drivers/visr/windows/vs2019/visr.DVL.XML
drivers/visr/windows/vs2019/visr/Windows10Debug/
drivers/visr/windows/vs2019/visr/Windows10Release/
drivers/visr/windows/vs2019/visr/sdv/
drivers/visr/windows/vs2019/visr/smvbuild.log
drivers/visr/windows/vs2019/visr/smvexecute-InterceptedBuild.log
drivers/visr/windows/vs2019/visr/smvexecute-NormalBuild.log
drivers/visr/windows/vs2019/visr/smvstats.txt
drivers/visr/windows/vs2019/visr/visr.DVL.XML
drivers/visr/windows/vs2019/visr/visr.inf
drivers/visr/windows/vs2019/visr/x64/
drivers/visr/windows/vs2019/x64/

drivers/winpv/xenbus/.build_number
drivers/winpv/xenbus/include/version.h
drivers/winpv/xenbus/vs2019/Windows10Release/
drivers/winpv/xenbus/vs2019/package/Windows10Release/
drivers/winpv/xenbus/vs2019/version/.revision
drivers/winpv/xenbus/vs2019/version/version.log
drivers/winpv/xenbus/vs2019/x64/
drivers/winpv/xenbus/vs2019/xen/Windows10Release/
drivers/winpv/xenbus/vs2019/xenbus.inf
drivers/winpv/xenbus/vs2019/xenbus/Windows10Release/
drivers/winpv/xenbus/vs2019/xenbus_coinst/x64/
drivers/winpv/xenbus/vs2019/xenbus_monitor/x64/
drivers/winpv/xenbus/vs2019/xenfilt/Windows10Release/
drivers/winpv/xenbus/vs2019/package/Windows10Debug/
drivers/winpv/xenbus/vs2019/xen/Windows10Debug/
drivers/winpv/xenbus/vs2019/xenbus/Windows10Debug/
drivers/winpv/xenbus/vs2019/xenfilt/Windows10Debug/
drivers/winpv/xenbus/vs2019/xenbus_coinst/Windows10Debug/
drivers/winpv/xenbus/vs2019/xenbus_monitor/Windows10Debug/

drivers/winpv/xenvif/.build_number
drivers/winpv/xenvif/include/version.h
drivers/winpv/xenvif/vs2019/Windows10*
drivers/winpv/xenvif/vs2019/xenvif/Windows10*
drivers/winpv/xenvif/vs2019/package/Windows10*
drivers/winpv/xenvif/vs2019/version/.revision
drivers/winpv/xenvif/vs2019/xenvif.inf
drivers/winpv/xenvif/vs2019/Windows10*
drivers/winpv/xenvif/vs2019/xenvif_coinst/Windows10*

drivers/winpv/xennet/.build_number
drivers/winpv/xennet/include/version.h
drivers/winpv/xennet/vs2019/Windows10Release/
drivers/winpv/xennet/vs2019/package/Windows10Release/
drivers/winpv/xennet/vs2019/version/.revision
drivers/winpv/xennet/vs2019/x64/
drivers/winpv/xennet/vs2019/xennet.inf
drivers/winpv/xennet/vs2019/xennet/Windows10Release/
drivers/winpv/xennet/vs2019/xennet_coinst/x64/

drivers/winpv/xenbus/vs2019/Windows10Debug/
drivers/winpv/xennet/vs2019/Windows10Debug/
drivers/winpv/xennet/vs2019/package/Windows10Debug/
drivers/winpv/xennet/vs2019/xennet/Windows10Debug/

drivers/winpv/xeniface/.build_number
drivers/winpv/xeniface/include/version.h
drivers/winpv/xeniface/src/xeniface/wmi.mof
drivers/winpv/xeniface/src/xeniface/wmi_generated.h
drivers/winpv/xeniface/vs2019/Windows10Debug/
drivers/winpv/xeniface/vs2019/package/Windows10Debug/
drivers/winpv/xeniface/vs2019/x64/
drivers/winpv/xeniface/vs2019/xenagent/x64/
drivers/winpv/xeniface/vs2019/xencontrol/x64/
drivers/winpv/xeniface/vs2019/xeniface.inf
drivers/winpv/xeniface/vs2019/xeniface/Windows10Debug/
drivers/winpv/xeniface/vs2019/xeniface_coinst/x64/
drivers/winpv/xeniface/vs2019/Windows10Release/
drivers/winpv/xeniface/vs2019/package/Windows10Release/
drivers/winpv/xeniface/vs2019/version/.revision
drivers/winpv/xeniface/vs2019/xeniface/Windows10Release/
