[Unit]
Description=Dom0 initialization for Venom IR&D demo
Requires=xen-init-dom0.service
After=xen-init-dom0.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/init-demo.sh

[Install]
WantedBy=multi-user.target
